<div class="accordion-item">
    <div class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
            <span class="medias-title">Documents</span>
            <span class="medias-small-desc">Ici vous trouverez des documents de ma famille ajoutés</span>
            <span class="accordion-icon"></span>
        </button>
    </div>
    <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordion_medias">
        <div class="accordion-body">
            <div class="row gy-4">
                <div class="col-sm-6 col-md-4">
                    <div class="s-img">
                        <img src="assets/img/project-2.jpg" title="" alt="">
                    </div>
                </div>
                <div class="col-sm-6 col-md-8">
                    <h3>Autres Documents</h3>
                    <div class="s-text">Ici vous trouverez d'autres documents de ma famille ajoutés.</div>
                </div>
            </div>
        </div>
    </div>
</div>