<div class="container">
    <div class="section-heading">
        <h6>Membres</h6>
        <h2>Tous les membres</h2>
    </div>
    <div class="row gy-5 lightbox-gallery">
        <div class="col-lg-6">
            <div class="work-box">
                <div class="work-img">
                    <a href="assets/img/services-1.jpg" title="View Gallery" data-title="Caption for image 1" data-lightbox="services">
                        <img src="assets/img/services-1.jpg" title="" alt="">
                    </a>
                </div>
                <div class="work-text">
                    <h6>Membre 1</h6>
                    <h4>
                        Didius HATEGEKIMANA
                    </h4>
                    <div class="btn-bar">
                        <a class="gallery-link" title="Read More" data-bs-toggle="modal" data-bs-target="#work_1"><i class="bi-arrow-up-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="work-box">
                <div class="work-img">
                    <a href="assets/img/services-2.jpg" title="View Gallery" data-title="Caption for image 2" data-lightbox="services">
                        <img src="assets/img/services-2.jpg" title="" alt="">
                    </a>
                </div>
                <div class="work-text">
                    <h6>Membre 2</h6>
                    <h4>
                        Alain Roger SANGA
                    </h4>
                    <div class="btn-bar">
                        <a class="gallery-link" title="Read More" data-bs-toggle="modal" data-bs-target="#work_2"><i class="bi-arrow-up-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="work-box">
                <div class="work-img">
                    <a href="assets/img/services-3.jpg" title="View Gallery" data-title="Caption for image 3" data-lightbox="services">
                        <img src="assets/img/services-3.jpg" title="" alt="">
                    </a>
                </div>
                <div class="work-text">
                    <h6>Membre 3</h6>
                    <h4>
                        Alain Bertrand GASIGWA
                    </h4>
                    <div class="btn-bar">
                        <a class="gallery-link" title="Read More" data-bs-toggle="modal" data-bs-target="#work_3"><i class="bi-arrow-up-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="work-box">
                <div class="work-img">
                    <a href="assets/img/services-4.jpg" title="View Gallery" data-title="Caption for image 3" data-lightbox="services">
                        <img src="assets/img/project-4.jpg" title="" alt="">
                    </a>
                </div>
                <div class="work-text">
                    <h6>Membre 4</h6>
                    <h4>
                        Aline Emmelyne MUTAMURIZA
                    </h4>
                    <div class="btn-bar">
                        <a class="gallery-link" title="Read More" data-bs-toggle="modal" data-bs-target="#work_4"><i class="bi-arrow-up-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="work-box">
                <div class="work-img">
                    <a href="assets/img/services-4.jpg" title="View Gallery" data-title="Caption for image 3" data-lightbox="services">
                        <img src="assets/img/project-4.jpg" title="" alt="">
                    </a>
                </div>
                <div class="work-text">
                    <h6>Membre 5</h6>
                    <h4>
                        Alain Marius IRAGUHA
                    </h4>
                    <div class="btn-bar">
                        <a class="gallery-link" title="Read More" data-bs-toggle="modal" data-bs-target="#work_4"><i class="bi-arrow-up-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>