<div class="container">
    <div class="section-heading text-center text-lg-start">
        <h6>Ma Famille</h6>
        <h2>Bienvenue...</h2>
    </div>
    <div class="row gy-4">
        <div class="col-lg-5">
            <div class="about-left">
                <div class="about-avatar">
                    <img src="assets/img/about-banner.png" title="" alt="">
                </div>
                <h3>Janvière && François</h3>
                <p>Famille <span>basée en</span> France</p>
                <div class="btn-bar">
                    <a class="px-btn" href="javascript:">
                        Télécharger mon livre ici <i class="bi-download"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-7 ps-xl-5">
            <div class="about-bio">
                <p>Janvière né en 1956 et François né en 1953, au Rwanda. Ils se sont marié en 1979 et ont des enfants et des petits enfants.</p>
            </div>
            <div class="about-contact row gx-lg-5">
                <div class="col-sm-6">
                    <p><i class="bi-phone"></i> <span>+33 6 95 77 89 09</span> </p>
                </div>
                <div class="col-sm-6">
                    <p><i class="bi-person"></i> <span>Janvière</span> </p>
                </div>
                <div class="col-sm-6">
                    <p><i class="bi-envelope"></i> <span>{{'rasa19fr@yahoo.fr'}}</span> </p>
                </div>
                <div class="col-sm-6">
                    <p><i class="bi-map"></i> <span>La Chapelle Saint Mesmin, France</span> </p>
                </div>
            </div>
            <div class="about-exp">
                <div class="row gy-4">
                    <div class="col-md-6">
                        <div class="a-number">
                            <h6>5+</h6>
                            <span>Enfants<br>4 Garçons 1 fille...</span>
                        </div>
                        <p class="lead">Bonjour! Je m'appelle <span>Janvière</span>. Je suis retraité et j'aime prier et ma famille.</p>
                    </div>
                    <div class="col-md-6">
                        <div class="a-number">
                            <h6>12+</h6>
                            <span>Petits<br>Enfants...</span>
                        </div>
                        <p class="lead">Bonjour! Je m'appelle <span>François</span>. Je suis retraité dans le domaine de la santé..</p>
                    </div>
                </div>
                <blockquote>
                    <i class="fa-solid fa-quote-left"></i>
                    <p>“Turabakunda, on vous aime, we love you, tunabapenda sana.”</p>
                </blockquote>
            </div>
        </div>
    </div>
</div>