<div class="accordion-item">
    <div class="accordion-header">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="true" aria-controls="flush-collapseOne">
            <span class="medias-title">Photos</span>
            <span class="medias-small-desc">Ici vous trouverez des photos de ma famille ajoutés.</span>
            <span class="accordion-icon"></span>
        </button>
    </div>
    <div id="flush-collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordion_medias">
        <div class="accordion-body">
            <div class="row gy-4">
                <div class="col-sm-6 col-md-4">
                    <div class="s-img">
                        <img src="assets/img/medias-5.jpg" title="" alt="">
                    </div>
                </div>
                <div class="col-sm-6 col-md-8">
                    <h3>Photos</h3>
                    <div class="s-text">Ici vous trouverez des photos de ma famille ajoutés.</div>
                </div>
            </div>
        </div>
    </div>
</div>