<div class="container">
    <div class="row gy-5">
        <div class="col-lg-5">
            <div class="section-heading">
                <h5>Contact</h5>
                <h2>Contactez nous</h2>
            </div>
            <div class="contact-info">
                <ul>
                    <li>
                        <div class="icon">
                            <i class="bi-chat-left-dots-fill"></i>
                        </div>
                        <div class="text">
                            <label>Contactez nous</label>
                            <p>Vous avez besoin d'une information ou vous avez besoin de nous. <span><a class="text-reset" href="mailto:rasa19fr@yahoo.fr">{{'rasa19fr@yahoo.fr'}}</a></span></p>
                        </div>
                    </li>
                    <li>
                        <div class="icon">
                            <i class="bi-compass"></i>
                        </div>
                        <div class="text">
                            <label>Visitez nous</label>
                            <p> Passer nous dire bonjour. <span>Ville de la Chapelle Saint Mesmin, <br> France</span></p>
                        </div>
                    </li>
                    <li>
                        <div class="icon">
                            <i class="bi-phone"></i>
                        </div>
                        <div class="text">
                            <label>Appelez nous</label>
                            <p>Lundi au Vendredi du 8h00 à 19h00. <span>+33 6 5 77 89 09</span></p>
                        </div>
                    </li>
                </ul>
                <div class="google-map">
                    <div class="ratio ratio-21x9">

                        <google-map height="300px" width="500px" [center]="center" [zoom]="zoom" (mapClick)="moveMap($event)" (mapMousemove)="move($event)">
                        </google-map>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-7 ps-xl-5">
            <div class="contact-form bg-g">
                <div class="contact-head">
                    <h4>Vous pouvez nous écrire aussi depuis notre site web.</h4>
                    <p>Nous nous ferons plaisir de vous répondre.</p>
                </div>
                <form id="contact-form" method="POST">
                    <div class="row gx-3 gy-4">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-label">Prénom</label>
                                <input name="Name" id="name" placeholder="nom*" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-label">Email</label>
                                <input name="Email" id="email" placeholder="Email *" class="form-control" type="email">
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label class="form-label">Sujet</label>
                                <input name="Subject" id="subject" placeholder="Sujet *" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="form-label">Message</label>
                                <textarea name="message" id="message" placeholder="Votre message *" rows="6" class="form-control"></textarea>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="send">
                                <button class="px-btn dark w-100" type="button" value="Send"> Envoyer Message</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>