<div class="container">
    <div class="row  min-vh-100 align-items-center">
        <div class="col-lg-7 col-xl-7 col-xxl-6">
            <div class="hb-text">
                <h1>Famille de <span><br> Janvière...</span> <b><br/> et</b> <span><br> François...</span></h1>
                <p class="lead"><span>Habite à Orléans</span> Ville de <span>FRANCE</span></p>
                <div class="btn-bar">
                    <a class="px-btn" href="#contact">
                        Contacter cette Famille <i class="bi-arrow-up-right"></i>
                    </a>
                </div>
                <div class="info-bar">
                    <p><i class="bi-phone"></i> <span>+33 6 95 77 89 09</span></p>
                    <p><i class="bi-envelope"></i> <span>{{ 'rasa19fr@yahoo.fr' }}</span></p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="hb-me" style="background-image: url(assets/img/home-banner.png);">
    <img style="border-radius: 40%!important; margin-left: 25%; margin-top: 18%; width: 450px; height: 550px;" src="assets/img/home-family.jpg" />
</div>
<div class="social-fix">
    <div class="social-links">
        <a href="javascript:"><i class="fab fa-dribbble"></i></a>
        <a href="javascript:"><i class="fab fa-instagram"></i></a>
        <a href="javascript:"><i class="fab fa-facebook"></i></a>
    </div>
</div>